* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
    background: #f5f5f5;
}

ul {
    list-style: none;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.head_div {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ececec;
    background: #fff;
}

.logo {
    float: left;
    width: 109px;
    height: 60px;
    line-height: 90px;
}

.logo img {
    width: 109px;
    height: 40px;
}

.head_centre {
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
}

nav {
    float: left;
    height: 60px;
    display: inline-block;
    margin-left: 80px;
    font-size: 14px;
}

.green1 {
    color: rgb(53, 181, 88);
}

.arrow-icon {
    width: 8px;
    height: 8px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    display: inline-block;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin: 4px 4px;
}

nav li {
    height: 60px;
    float: left;
    margin-right: 50px;
    position: relative;
}

.submenu_div {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0;
    background: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
}

.submenu_div h3 {
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}

.submenu_div a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    color: #999!important;
}

.python-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
    background: url("../image/allicon3.png") 0 0 no-repeat;
    background-position: 0 0;
    background-size: 16px 148px;
}

.go-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
    background: url("../image/allicon3.png") 0 0 no-repeat;
    background-position: 0 0;
    background-size: 16px 148px;
    background-position: -2px -38px;
}

.ios-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
    background: url("../image/allicon3.png") 0 0 no-repeat;
    background-position: 0 0;
    background-size: 16px 148px;
    background-position: -2px -81px;
}

.web-icon {
    background: url("../image/allicon.png") 0 0 no-repeat;
    background-size: 64px 64px;
    background-position: -15px -27px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
}

.icon_logo {
    width: 200px;
    height: 60px;
    text-align: right;
    margin-right: 15px;
    float: right;
}

.icon_1 {
    width: 17px;
    height: 60px;
    display: inline-block;
    background: url(../image/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    margin-right: 25px;
}

.icon_2 {
    width: 17px;
    height: 60px;
    /*z-index: 100000;*/
    display: inline-block;
    background: url(../image/app-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    margin-right: 25px;
}
.relative{
    position: relative;
}
.icon_2:hover {
    background: url(http://e.jikexueyuan.com/headerandfooter/images/app-icon2.png) 0 0 no-repeat;
    background-size: 17px;
    background-position: 0;
}
.icon_2 .submenu {
    display: none;
    opacity: 0;
    padding: 10px 0;
    background: #fff;
    position: absolute;
    width: 120px;
    z-index: 1200;
    top: 58px;
    right: -10px;
}
.submenu .top-icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    display: block;
    position: absolute;
    top: -8px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    display: inline-block;
    background: #fff;
}
.icon_3 {
    width: 17px;
    height: 60px;
    display: inline-block;
    background: url(../image/login-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    margin-right: 25px;
}

.body_div {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.body_centre {
    margin-top: 20px;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    clear: both;
}

.centre_left {
    width: 750px;
    height: 330px;
    background: #fff;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

.center_right {
    float: left;
    width: 240px;
    height: 160px;
    border: 1px solid #e9e9e9;
    background: #fff;
    box-sizing: border-box;
    padding: 26px 29px 24px;
}

.userInfo {
    height: 57px;
}

.userimg {
    float: left;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-right: 15px;
}

.hello {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.welcome {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 10px;
}

.logo_a {
    font-size: 14px;
    float: left;
    display: inline-block;
    width: 85px;
    height: 32px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
}

.register_a {
    font-size: 14px;
    float: left;
    display: inline-block;
    width: 85px;
    height: 32px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
    margin-left: 6px;
}

.banner-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#left_span {
    width: 50px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -40px;
    z-index: 2;
    cursor: pointer;
    background: url(../image/arrow_dd5a57d.png) no-repeat center;
    background-size: 50px, 80px;
    display: none;
}

#right_span {
    width: 50px;
    height: 80px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -40px;
    z-index: 2;
    cursor: pointer;
    background: url(../image/arrow_dd5a57d.png) no-repeat center;
    background-size: 50px, 80px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    display: none;
}


/* 轮播图 */

.carousel_div {
    width: 6000px;
    height: 330px;
    /*   animation:carousel 3s ease infinite;
       animation-duration: 8s; 
       } */
    transition-duration: 1s;
}

.carousel_a1 {
    position: relative;
    float: left;
    width: 750px;
    height: 330px;
    background: url(../image/58573ba80d31f.jpg) 50% 50% no-repeat;
}

.carousel_a2 {
    position: relative;
    float: left;
    width: 750px;
    height: 330px;
    background: url(../image/57e8bdeeea6b8.jpg) 50% 50% no-repeat;
}

.carousel_a3 {
    position: relative;
    float: left;
    width: 750px;
    height: 330px;
    background: url(../image/58573bd1eb3fc.jpg) 50% 50% no-repeat;
}

.carousel_a4 {
    position: relative;
    float: left;
    width: 750px;
    height: 330px;
    background: url(../image/58573b737d2db.jpg) 50% 50% no-repeat;
}
.carousel_a5 {
    position: relative;
    float: left;
    width: 750px;
    height: 330px;
    background: url(../image/579fa1b0c9f40.jpg) 50% 50% no-repeat;
}

.carousel_a6 {
    position: relative;
    float: left;
    width: 750px;
    height: 330px;
    background: url(../image/586e05541cd40.jpg) 50% 50% no-repeat;
}

.click_div {
    position: absolute;
    left: 0;
    bottom: 36px;
    text-align: center;
    width: 100%;
    z-index: 800;
    height: 0;
    cursor: pointer;
}

.dot {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    width: 8px;
    height: 8px;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.banner-container:hover #right_span {
    display: block;
}

.banner-container:hover #left_span {
    display: block;
}

.bottom_img {
    margin-top: 10px;
}

.subject {
    float: left;
    height: 130px;
    width: 100%;
    margin-top: 20px;
    background: #fff;
    position: relative;
}

.subject a {
    float: left;
    width: 250px;
    height: 60px;
    border: 1px solid #f0f0f0;
    border-left: 0;
    color: #555;
    text-align: center;
    padding-top: 90px;
    font-size: 12px;
    transition: color .5s;
    -moz-transition: color .5s;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
}
.jk-jiuye {
    width: 1000px;
    margin: 0 auto;
    clear: both;
    display: block;
    float: left;
    margin-top: 20px;
    position: relative;

}

.jk-jiuye .jk-ban {
    float: left;
    width: 327px;
    height: 70px;
    background: #fff;
    margin-right: 9px;
    margin-bottom: 10px;
    /*padding-left: 33px;*/
    line-height: 68px;
    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
}
.jk-jiuye img{
    width: 55px;
    height: 55px;
    display: inline-block;
    line-height: 70px;
    margin: 8px 33px;
}
.jk-jiuye .php {
    float: left;
    background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban01_29b9e05.jpg) no-repeat center center;
    background-size: 327px 70px;
}
.jk-jiuye .web {
      float: left;
    background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban02_0aec839.jpg) no-repeat center center;
    background-size: 327px 70px;
}
.jk-jiuye .ui {
    float: left;
    background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban03_47f0666.jpg) no-repeat center center;
    background-size: 327px 70px;
    padding-right: 0;
}
.jk-jiuye .android {
    float: left;
    /*position: absolute;*/
    background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban04_b84d257.jpg) no-repeat center center;
    background-size: 327px 70px;
    /*left: 0;*/
}
.jk-jiuye .jk-ban:nth-child(n+4) {
    margin-bottom: 0;
}
.jk-jiuye .ios {
    background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban05_9f8330c.jpg) no-repeat center center;
    background-size: 327px 70px;
     padding-right: 0;
}

.jk-jiuye .jk-ban:nth-child(n+4) {
    margin-bottom: 0;
}
.jk-jiuye .jk-ban:nth-child(3n) {
    margin-right: 0;
}
.jk-jiuye .javaweb {
    background: url(http://s1.jikexueyuan.com/index/images/jiuye-ban06_2402215.jpg) no-repeat center center;
    background-size: 327px 70px;
}
.jk-jiuye .jk-ban p {
    /*position: absolute;*/
    /*display: inline-block;*/
    color: #fff;
    font-size: 14px;
    width: 204px;
    height: 70px;
    text-align: center;
    margin-left: 120px;
    margin-top:-108px;
    line-height: 90px;
    /*top: 10px;*/
}

.course_fee ul {
    list-style: none;
    width: 100%;
    height: 100%;
}

.course_fee li {
    float: left;
    width: 233px;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.course_fee li:last-child{
    margin-right: 0;

}
.course_fee {
    width: 1000px;
    height: 270px;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

#shade1 {
    width: 500px;
    height: 270px;
}

.course_fee a {
    display: block;
    height: 100%;
}

.course_fee img {
    height: 155px;
}

.pay_describe {
    padding: 14px;
    height: 113px;
    position: relative;
    background: #fff;
}

.introduce_p {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 18px;
    height: 36px;
}

.time_p {
    margin-top: 6px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}

a {
    text-decoration: none;
}

.price {
    float: left;
    font-size: 13px;
    color: #999;
    margin-top: 14px;
    text-decoration: line-through;
    vertical-align: bottom;
}

.people {
    display: inline-block;
    height: 14px;
    position: absolute;
    bottom: 42px;
    right: 14px;  
    color: #999;
    font-size: 12px;
}

#li_bottom {
    margin-right: 0;
}

#price_span {
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}

#price_span2 {
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}

#price_span3 {
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}

#price_span1 {
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}
#price_span4{
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}


/*mogui kecheng*/
.jk-mogui {
    width: 1000px;
    margin: 0 auto 40px;
    padding-top: 30px;
}
.jk-mogui h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
}

.jk-mogui li>a>div {
    float: left;
    height: 135px;
    padding-top: 70px;
}


.jk-mogui .mg-1 {
    background: #df5a49;
}
.jk-mogui .mg-1 div {
    padding-left: 20px;
}
.mg-1 img{
    float: left;
}
.jk-mogui .mg-1, .jk-mogui .mg-3 {
    width: 620px;
}
.jk-mogui li {
    float: left;
    height: 135px;
    position: relative;
}

.jk-mogui .mg-3 {
    background: #e27a3f;
}
.mg-3 img{
    float: right;
}
.jk-mogui .mg-3 div {
    width: 323px;
    text-align: right;
    padding-right: 20px;
}


.jk-mogui .mg-2 {
    background: #efc94c;
}
.mg-2 img{
    float: left;
}
.jk-mogui .mg-2 div {
    padding-left: 20px;
}
.jk-mogui .mg-2, .jk-mogui .mg-4 {
    width: 380px;
}


.mg-4 img{
    width: 205px;
}

.jk-mogui .mg-4 div {
    background: #45b29d;
    width: 155px;
    text-align: right;
    padding-right: 20px;
        height: 65px;
}


.jk-mogui li>a {
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.8em;
    color: #fff;
}
.jk-sku ul li .skuContainer {
    padding: 14px;
    height: 113px;
    position: relative;
    background: #fff;
}




.jk-mogui li>a span {
    display: block;
    font-size: 12px;
}
.jk-mogui li i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
}

.jk-mogui li>a span {
    display: block;
    font-size: 12px;
}
/*end mogui kecheng*/
.professional {
    padding-top: 30px;
    clear: both;
    width: 1000px;
    margin: 0 auto;
    height: 310px;
    margin-bottom: 40px;
}

.professional a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.web_li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.web_li {
    width: 500px;
    height: 270px;
    display: inline-block;
    position: relative;
    top: 0;
    float: left;
}

.web_li img {
    width: 500px;
    height: 270px;
}

.web_li span {
    background: url(../image/cweb_2d70d0b.png) no-repeat center 70px;
    background-size: 55px 84px;
    width: 100%;
    height: 100%;
    padding-top: 180px;
    font-size: 20px;
    position: relative;
    left: 173px;
    top: -97px;
    color: #fff;
}

.web_li2 {
    width: 240px;
    height: 130px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    left: 10px;
}

.web_li2 span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
    background: url(../image/cpython_5ed9df4.png) no-repeat center 31px;
    background-size: 36px 36px;
}

.web_li2 img {
    width: 240px;
    height: 130px;
}

.web_li3 {
    width: 240px;
    height: 130px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    right: 235px;
    top: 140px;
}

.web_li3 span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
    background: url(../image/cpython_5ed9df4.png) no-repeat center 31px;
    background-size: 36px 36px;
}

.web_li3 img {
    width: 240px;
    height: 130px;
}

.web_li4 {
    width: 240px;
    height: 130px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    left: 260px;
    top: -140px;
}

.web_li4 span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
    background: url(../image/cpython_5ed9df4.png) no-repeat center 31px;
    background-size: 36px 36px;
}

.web_li4 img {
    width: 240px;
    height: 130px;
}

.web_li5 {
    width: 240px;
    height: 130px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    left: 15px;
    top: 0;
}

.web_li5 span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px;
    background: url(../image/cpython_5ed9df4.png) no-repeat center 31px;
    background-size: 36px 36px;
}

.web_li5 img {
    width: 240px;
    height: 130px;
}

.vip_course {
    width: 1000px;
    margin: 0 auto;
    height: 420px;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.vip_course p {
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
}

.vip_course span {
    display: block;
    font-size: 12px;
    color: #35b558;
    height: 22px;
    line-height: 22px;
}

.vip_course img {
    width: 55px;
    height: 55px;
    margin-top: 20px;
}

.vip_li1 {
    float: left;
    border: 1px solid #e9e9e9;
    background: #fff;
    width: 158px;
    height: 150px;
    margin-right: 10px;
    margin-top: 10px;
}

.vip_li2 {
    float: right;
    border: 1px solid #e9e9e9;
    background: #fff;
    width: 158px;
    height: 150px;
    margin-right: -10px;
    margin-top: 10px;
}

.vip_li2 a {
    display: block;
    height: 100%;
    text-align: center;
}

.vip_li1 a {
    display: block;
    height: 100%;
    text-align: center;
}

.vip_all {
    display: inline-block;
    margin-top: 38px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
}

.story {
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.announcement_div {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
}

.swiper-wrapper {
    width: 4000px;
    height: 260px;
    animation: ranking 3s ease infinite;
    animation-duration: 8s;
}

.swiper-slide {
    width: 1000px;
    float: left;
    height: 260px;
    margin-left: 20px;
}

.swiper-slide ul {
    height: 200px;
    width: 100%;
}

.swiper-slide li {
    float: left;
    width: 320px;
    height: 200px;
    position: relative;
    margin-right: 20px;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

#story_li {
    float: left;
    width: 320px;
    height: 200px;
    position: relative;
    margin-right: 0;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.swiper-slide a {
    display: block;
    height: 100%;
}

.story-content {
    width: 100%;
    height: 121px;
    border: 1px solid #e9e9e9;
    background: #fff;
    position: relative;
}

.story-content p {
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 20px;
    padding: 20px 25px;
    text-align: left;
}

.story-info {
    height: 80px;
    padding-left: 95px;
    padding-top: 28px;
    position: relative;
}

.story-info img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e9e9e9;
}

.base_div {
    min-width: 1000px;
    border-top: 1px solid #e4e4e4;
    background: #fff;
}

.base_content {
    position: relative;
    width: 1000px;
    height: 215px;
    margin: 0 auto;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 224px;
    padding-top: 25px;
    box-sizing: border-box;
}

.base_logo {
    position: absolute;
    left: 0;
    top: 25px;
    display: inline-block;
    width: 160px;
}

.base_logo img {
    width: 109px;
    height: 40px;
    display: block;
}

.base_logo p {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
}

.base_content dt {
    font-size: 14px;
    line-height: 30px;
}

.base_content dl {
    width: 135px;
    color: #808080;
    float: left;
}

.base_content dd {
    font-size: 12px;
    line-height: 30px;
}

.base_content a {
    color: #999999;
}

.code_div {
    position: absolute;
    right: 0;
    top: 25px;
    display: inline-block;
    width: 175px;
    text-align: left;
}

.hot_p {
    color: #808080;
    font-size: 14px;
    margin-bottom: 20px;
}

.dow_ios {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
    background: url(../image/icon-down-ios.png)no-repeat 0 0;
    background-size: 30px 30px;
}

.dow_ios img {
    display: inline-block;
    width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    display: none;
}

.dow_and {
    position: relative;
    display: inline-block;
    width: 85px;
    height: 30px;
    border: 1px solid #eeeeee;
    margin-bottom: 10px;
    line-height: 30px;
    color: #808080;
    font-size: 13px;
    padding-left: 40px;
    cursor: pointer;
    background: url(../image/icon-down-and.png)no-repeat 0 0;
    background-size: 30px 30px;
}

.dow_and img {
    display: inline-block;
    width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    display: none;
}

.put_div {
    font-size: 12px;
    color: #999;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    padding: 15px 0;
}

.put_div a {
    font-weight: 400;
    color: #999;
}

.mb {
    float: right;
    height: 15px;
    width: 20px;
    background: url(../image/icon-down-wechat.png)no-repeat 0 0;
    background-size: 18px 15px;
}

.we {
    float: right;
    height: 15px;
    width: 20px;
    background: url(../image/icon-down-sina.png)no-repeat 0 0;
    background-size: 18px 15px;
}

.integrity {
    margin: 15px auto 0;
    display: block;
}

.integrity img {
    width: 60px;
    height: 22px;
}

.gotop {
    position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    width: 34px;
    text-align: center;
    z-index: 2000;
}

.top {
    display: block;
    background: url(../image/gotop.jpg) 0 0 no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 34px;
}

.erwma {
    position: relative;
    display: block;
    background: url(../image/gotop.jpg) 0 -34px no-repeat;
    background-size: 34px 103px;
    width: 34px;
    height: 35px;
}

.erwma img {
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none;
}

.jk-app {
    position: relative;
    display: block;
    background: #f7f7f7 url(../image/phone-1.png) center center no-repeat;
    background-size: 12px 24px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}


/* hoverÊÂ¼þ */

.jk-app:hover div {
    display: block;
}

.appem {
    background: url(../image/appewm.png) center center no-repeat;
    background-size: 100%;
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -126px;
    top: -70px;
    display: none;
}

.wechat {
    position: relative;
    display: block;
    background: #f7f7f7 url(../image/0f000KgpXJ8j8WftMJ-UZf.jpg) center center no-repeat;
    background-size: 30px 30px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
}

.erwma:hover img {
    display: block;
}

.searchbox {
    display: none;
    transform: scale(0.1, 1);
    -moz-transform: scale(0.1, 1);
    opacity: 0;
    height: 59px;
    line-height: 59px;
    width: 807px;
    background: #fff;
    position: absolute;
    /*z-index: 11000;*/
    top: 0;
    right: 213px;

}

#web_search_header {
    width: 400px;
    height: 27px;
    line-height: 27px;
    margin-top: 14px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    border-width: 0;
    border-style: none;
    border-color: white;
}

#web_search_header:focus {
    border: 0;
    outline: none;
}

.close-icon {
    width: 15px;
    height: 15px;
    margin-top: 22px;
    cursor: pointer;
    background: url("../image/close-icon.png") 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    z-index: 1200;
}

.search-icon {
    background: url("../image/search-icon.png") 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0, 0;
    height: 17px;
    width: 17px;
    display: inline-block;
}

#web_search_header {
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
}

.tagbox {
    width: 300px;
    text-align: right;
    display: inline;
    margin-right: 50px;
    float: right;
}

.tagbox a {
    font-size: 12px;
    color: #808080;
    background: #f5f5f5;
    padding: 3px 5px;
    margin-left: 10px;
}

.scale {
    transform-origin: right center;
    -moz-transform-origin: right center;
    display: block!important;
    transform: scale(1, 1) !important;
    opacity: 1!important;
    animation: scalerun 1s ease-in 1;
}


/* hoverÊÂ¼þ¼¯ºÏ */

#profession:hover div {
    display: block;
    opacity: 1;
}

#profession:hover a {
    color: #35b558;
}

#profession:hover .arrow-icon {
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
/*     animation: rotate 4s ease-in 1; */
}

#vip:hover div {
    display: block;
    opacity: 1;
}

#vip:hover .arrow-icon {
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
/*     animation: rotate 3s ease-in 1;
transform: rotateZ(-315deg) */
}

#vip:hover a {
    color: #35b558;
}

#geek:hover div {
    display: block;
    opacity: 1;
}

#geek:hover .arrow-icon {
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
/*     animation: rotate 3s ease-in 1; */
}

#geek:hover a {
    color: #35b558;
}

.se {
    width: 8px;
    height: 16px;
    background: #35b558;
    position: relative;
    top: -4px;
}

.logo_a:hover {
    background: #35b558;
    color: #fff;
}

.register_a:hover {
    background: #35b558;
    color: #fff;
}

.pay_describe:hover {
    box-shadow: #999 0px 0px 10px;
}

.professional i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
}

.professional li:hover i {
    opacity: 0.3;
}

.vip_all:hover {
    background: #35b558;
    color: #fff;
}

.vip_course li:hover {
    box-shadow: #999 0px 0px 3px;
}

.dow_ios:hover img {
    display: block;
}

.dow_and:hover img {
    display: block;
}

.story-content:hover {
    box-shadow: #666 0px 0px 4px;
}

.story-span-v {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 47px;
}

.story-boot_span {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    width: 8px;
    height: 8px;
    background: #bbb;
    vertical-align: middle;
    cursor: pointer;
}

.b-green {
    height: 8px;
    width: 16px;
    background: #35b558;
}

.story-bottom-div {
    width: 1000px;
    height: 12px;
    text-align: center;
    position: relative;
    top: -40px;
}

.span-one {
    position: relative;
    left: 0%;
    width: 300%;
    height: 260px;
}

.span-two {
    position: relative;
    left: -100%;
    width: 300%;
    height: 260px;
}

.span-thrre {
    position: relative;
    left: -200%;
    width: 300%;
    height: 260px;
}

.span-grue {
    height: 8px;
    width: 16px;
    background: #35b558;
}
/*动画 */
.done {
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0;
    transition-timing-function: ease;
}
.rotate{
  border-top: 1px solid #2DB855;
  border-left: 1px solid #2DB855;
}
.animation {
    transform: rotate(355deg);
    transform-origin: 50% 50% 0px;
}

@keyframes ranking {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-1040px);
    }
    30% {
        transform: translate(-1040px);
    }
    40% {
        transform: translate(-1040px);
    }
    50% {
        transform: translate(-2050px);
    }
    60% {
        transform: translate(-2050px);
    }
    70% {
        transform: translate(-2050px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(-180deg);
    }
    10% {
        transform: rotateZ(10deg);
    }
    20% {
        transform: rotateZ(20deg);
    }
    30% {
        transform: rotateZ(30deg);
    }
    40% {
        transform: rotateZ(40deg);
    }
    50% {
        transform: rotateZ(50deg);
    }
    60% {
        transform: rotateZ(60deg);
    }
    70% {
        transform: rotateZ(60deg);
    }
    80% {
        transform: rotateZ(60deg);
    }
    90% {
        transform: rotateZ(60deg);
    }
    100% {
        transform: rotateZ(60deg);
    }
}

@keyframes scalerun {
    0% {
        opacity: 0;
        transform: scale(0.1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}