 .content{
	display: block;
 	width: 400px;
 	height: 300px;
 	margin: 200px auto;
 	background: #ccc;
 }
 .content form{
 	display: block;
 }

 .num{
 	display: block;
 	width: 300px;
 	padding: 70px 70px 10px 10px;
 }
 #numinput{
 	display: block;
 	width: 200px;
 	padding: 12px 14px;
 	margin: -28px 0px 3px 80px;
 	border-radius: 7px;
 }

 .bothbtn{
 	display: block;
 	width: 300px;
 	padding: 12px 14px;
 	margin: 10px auto;
 	border-radius: 4px;
	color: #fff;
	line-height: 20px;
	text-align: center;
 }
  #clear{
 	display: inline-block;
 	width: 100px;
 	padding: 12px 14px;
 	margin: 0 10px;
 	border-radius: 4px;
	background: #51dc2a;
	color: #fff;
	line-height: 20px;
	text-align: center;
 }
 #sumbit{
 	display: inline-block;
 	width: 100px;
 	padding: 12px 14px;
 	margin: 0px 10px;
 	border-radius: 4px;
	background: #51dc2a;
	color: #fff;
	line-height: 20px;
	text-align: center;
 }
 #greed{

 	display: block;
 	width: 50px;
 	height: 20px;
	margin: 20px auto;
	text-align: center;
	/* background: #fff; */
	/* padding: 20px 100px 20px 30px; */
 }